{% extends "base.html" %}

{% block content %}

<main class="container">
    <div>
        <h1>Build A Blog</h1>

        {% if blogs|length == 0 %}
            <p>No post yet</p>
        {% else %}
            <ul>
                {% for blog in blogs %}
                    <li><a href="{{ url_for('blog', id=blog.id) }}">{{ blog.title }}</a>
                        <ul>
                            <li class="blog-post-body">{{ blog.body }}</li>
                              <div><small>By:
                                <a href="{{ url_for('blog', user=blog.blog_id)}}" class="author">{{ blog.blog_id }}</a>
                              </div>
                        </ul>
                    </li>
                  <br>
                  <hr/>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
</main>

{% endblock %}
