{% extends "base.html %"}

{% block content %}

<main class="container">

    <h1>Add a Post Body</h1>
    <form method="POST" action="/newpost"></form>
        <div>
            {% if form.blog_title_error %}
                {% for error in form.blog_title_error %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            {% if form.body_error %}
                {% for error in form.body_error %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="forms">{{ title }}
            {{ form.blog_title.label }}
            {{ form.blog_title }}
        </div>

        <div id="blog_body">{{ body }}
            {{ form.blog_body.label }}
            {{ form.blog_body }}
        </div>

        {{ form.submit(class="btn-primary") }}
    </form>
</main>

{% endblock %}
